//Break Points
$bg-lxx: 100em; //1600
$bg-lx: 84em; //1344
$bg-lg: 68em; //1096
$bg-md: 54.5em; //800
$bg-sm: 42.5em; //680
$bg-sx: 28em; //448
$bg-sxx: 24em; //384

$primary-black: rgb(20, 25, 35);
$bg-color: rgb(210, 218, 245);
$main-color: rgb(90, 190, 30);
