.lightBoxGallery {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  max-width: 150rem;
  margin: 0 auto;
  //padding: 0.5rem;

  &__a {
    border: none !important;
    padding: 0 !important;
    margin: 1rem !important;
  }

  .image-container {
    height: auto !important;

    img {
      cursor: pointer;
      width: 16rem !important;
      height: 15rem !important;
      box-shadow: 0 0 6px 2px black;

      &:hover {
        transition: all 0.3s;
        box-shadow: 0 0 6px 2px black !important;
        transform: scale(1.05);
      }
    }
  }
}
