*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(231, 231, 231);

  font-size: 62.5%;

  @media only screen and (max-width: $bg-lg) {
    font-size: 60%;
  }

  @media only screen and (max-width: $bg-md) {
    font-size: 57%;
  }

  @media only screen and (max-width: $bg-sm) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bg-sx) {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
  color: black;
}

.container-small {
  overflow-x: hidden;
  min-height: calc(100vh - 4.7rem);
  background: linear-gradient(to bottom,
      rgba(rgb(255, 255, 255), 0.7),
      rgba(rgb(255, 255, 255), 0.7)),
    url(../img/bga2.jpg);

  background-repeat: repeat;
  //background-position: left;

  @media only screen and (max-width: $bg-lg) {
    background-repeat: repeat;
    background-size: auto;
  }
}

.page-enter-active {
  transition: all 0.5s ease-in-out;
}

.page-leave-active {
  transition: all 0.5s ease-in-out;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
